@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}
/* CSS reset & general styling */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: -.5px;
}
/* Left side standard padding */

/* ==================== Header (top left logo and top right images) */
header {
    display: flex;
}
header #logo {
    position: fixed;
    padding: 40px 15px 0 40px;
    max-width: 45px;
    align-self: flex-start;
}
header h1 {
    padding: 40px 0 0 100px;
    font-family: Roboto-Black;
    font-size: 1.6em;
}
header p {
    padding-left: 100px;
    font-size: 0.85em;
}
header #space, header #person {
    max-width: 55vw;
    position: absolute;
    top: 0;
    right: 0;
}
header #person {
    animation: personFloating 4s ease-in-out infinite;
}
@keyframes personFloating {
    0% {top: 0}
    50% {top: 5vh}
    100% {top: 0}
}
/* ==================== Top section */
#top {
    padding: 40vh 0 0 8vw;
}
#top h1 {
    max-width: 45vw;
    font-size: 5em;
}
#top h2 {
    padding-top: 1em;
    max-width: 45vw;
    font-family: Roboto-Light;
}
#top h2 img {
    max-width: 40px;
}
#top p {
    padding: 9em 0;
    font-family: Roboto-Black;
    color: #ff3571;
}
/* ==================== Gallery section */
#gallery {
    min-height: 120vh;
    background: url(../img/images.jpg) top/contain no-repeat;
}
/* ==================== Intro section */
#intro article:first-of-type {
    padding: 0 14vw;
    display: flex;
    align-items: start;
}
#intro article:first-of-type h1 {
    max-width: 30%;
    font-size: 3em;
    flex-shrink: .6;
}
#intro article:first-of-type p {
    max-width: 50%;
    padding: 2vh 0 0 5vw;
    line-height: 2em;
}
#intro article:first-of-type h1 img {
    display: inline-block;
    max-width: 1.1em;
}
#intro article:last-of-type > h1 {
    padding: 20vh 45vw 20vh 14vw;
    font-size: 3em;
}
/* ---------- Lessons learned article */
#learned {
    padding-left: 8vw;
    display: flex;
    flex-wrap: wrap;
}
#learned div {
    max-width: 25vw;
    padding: 5vh 5vw;
}
#learned img {
    max-width: 30px;
    padding-right: 15px;
    vertical-align: bottom;
}
#learned div img, #learned div h1 {
    display: inline-block;
}
#learned div h1 {
    font-size: 1em;
}
#learned div p {
    padding: 20px 0 0 50px;
    line-height: 2em;
    font-size: 0.9em;
}
/* ==================== Challenge section */
#challenge article {
    text-align: center;
}
#challenge article:first-of-type h1 {
    padding-top: 15vh;
    font-size: 3em;
}
#challenge article p {
    padding: 5vh 0 15vh 0;
    max-width: 40vw;
    display: inline-block;
    font-size: 1.2em;
    font-family: Roboto-Thin;
    font-weight: bold;
}
/* ---------- Challenge steps */
#challengeSteps figure {
    display: flex;
    text-align: left;
    padding-bottom: 15vh;
}
#challengeSteps figure > img {
    display: inline-block;
    max-width: 40vw;
    padding: 0 8vw;
    align-self: flex-end;
}
#challengeSteps figure > div {
    align-self: flex-start;
}
#challengeSteps figure div h1 {
    color: #dddddd;
    font-size: 4em;
    padding-bottom: 8vh;
}
#challengeSteps figure div img {
    padding-bottom: 1em;
}
#challengeSteps figure div p {
    padding-top: 1em;
    line-height: 2em;
}
#challengeSteps figure h2, #challengeSteps figure p {
    font-size: 1em;
}
#challengeSteps figure:nth-of-type(odd) div {
    padding-right: 5vw;
}
#challengeSteps figure:nth-of-type(even) div {
    padding-left: 8vw;
}
#challengeSteps figure:nth-of-type(even) > img {
    padding: 0 5vw 0 8vw;
}
/* ==================== Subscription section */
#subscribe, #subscribe input[type="email"] {
    text-align: center;
}
#subscribe h1 {
    font-size: 3em;
}
#subscribe p {
    font-size: 1.2em;
    font-family: Roboto-Thin;
    font-weight: bold;
    padding: 5vh 0;
}
#subscribe input[type="email"] {
    padding: 2vh 10vw;
    font-size: 1.2em;
    border: 1px solid #ddddddaa;
    box-shadow: 0 0 10px 10px #dddddd44;
}
#subscribe input[type="email"]:focus {
    outline-offset: 0;
}
#subscribe input[type="submit"] {
    margin-top: 4vh;
    padding: 2vh 4vw;
    font-size: 1em;
    color: #fff;
    background: #ff3571;
    border: none;
    border-radius: 4px;
}
#subscribe input[type="submit"]:hover {
    background-image: linear-gradient(90deg,  #ff3571, #3C30FF);
}
/* ==================== Footer */
footer {
    padding: 20vh 0 2vh 8vw;
    font-family: Roboto;
    font-size: 0.9em;
}
footer img {
    max-width: 2em;
    padding-left: 0.7em;
}